/* jquery.face.css */
.FA_backCtn {
    position: absolute;
    background: #fff;
    border-radius: 5px;
    border: 1px solid #d9d9d9;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, .15);
    padding: 10px;
}

.FA_ScrollCtn {
    position: relative;
    overflow: hidden;
    outline: 1px solid #DFEDFA;
}

.FA_faceCtn {
    position: absolute;
    top: 0;
    left: 0;
}

.FA_triBtn {
    background: url(../images/head_robot.png) no-repeat center;
    position: absolute;
    cursor: pointer;
}

.FA_moodCtn {
    float: left;
    text-align: center;
    background: #fff;
    cursor: pointer;
    outline: 1px solid #DFEDFA;
}

.FA_srcCtn {
    display: table-cell;
    vertical-align: middle;
}

.FA_moodCtn:hover {
    background: #e7f6ff;
}

.FA_moodCtn img {
    display: inline-block;
    vertical-align: middle;
    max-width: 100%;
    max-height: 100%;
}

.FA_advCtn {/*配置广告*/
    height: 50px;
    background: #E7FAE0 url(../images/logo.png) no-repeat center;
    background-size: contain;
    margin-bottom: 10px;
    position: relative;
}

.FA_advCtn:hover .FA_closeAdvCtn {/*配置广告*/
    display: block;
}

.FA_closeAdvCtn {
    position: absolute;
    width: 15px;
    height: 15px;
    line-height: 15px;
    top: 5px;
    right: 5px;
    background: #616161;
    border-radius: 100px;
    cursor: pointer;
    color: #fff;
    text-align: center;
    display: none;
}

.FA_switchCtn {
    margin-top: 15px;
    font-size: 0;
    background: #E4E5E5;
}

.FA_switchBtn {
    display: inline-block;
    width: 30px;
    height: 30px;
    cursor: pointer;
}

.FA_switchBtn_1 {
    background: url(../images/head_robot.png) no-repeat center;
}
.FA_switchBtn_2 {
    background: url(../images/head_smile.png) no-repeat center;
}
.FA_switchBtn_3 {
    background: url(../images/head_message.png) no-repeat center;
}

.FA_switchBtn_focus {
    background-color: #E4E5E5;
    position: relative;
}

.FA_switchBtn_focus:after {
    content: '';
    display: block;
    position: absolute;
    top: -6px;
    left: 0;
    width: 0;
    height: 0;
    border-left: 15px solid transparent;
    border-right: 15px solid transparent;
    border-bottom: 6px solid #E4E5E5;
}

.FA_tipScrollCtn {
    position: absolute;
    outline: 1px solid #DFEDFA;
    overflow: hidden;
}

.FA_tipMoodCtn {
    position: absolute;
    top: 0;
    left: 0;
}

.FA_countLenCtn {
    position: absolute;
    background: red;
    overflow: auto;
    word-break: break-all;
    word-wrap: break-word;
}

.FA_markPos {
    display: inline-block;
    width: 2px;
    height: 18px;
    position: absolute;
    background: yellow;
}
